<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Appender для виводу в консоль -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Формат логів: час [рівень] logger - повідомлення -->
            <pattern>%d{HH:mm:ss.SSS} [%level] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Рівні логування -->
    <!-- Для всіх логерів рівень INFO і вище виводимо на консоль -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>